/*.panel {*/
    /*width: 100%;*/
    /*height: 50px;*/
    /*background: lightgray;*/
    /*border: 1px solid;*/
/*}*/
/*.message {*/
    /*border: 1px solid red;*/
    /*margin: 2px 2px 2px 10%;*/
/*}*/
/*.users {*/
    /*border: 1px solid red;*/
    /*margin-left: 10px ;*/
    /*margin-bottom: 20px;*/
/*}*/
/*.send {*/
    /*border: 1px solid red;*/
    /*border: 1px solid black;*/
    /*border-right: 4px solid orangered;*/
    /*border-bottom: 4px solid orangered;*/
    /*background: red;*/
/*}*/
.panel {
    width: 100%;
    background: lightgray;
    border: 1px solid;

}
.message {

    border: 1px solid red;
    margin: 2px 2px -12px 12%;
    margin-top: 25px;
}
.users {
    width: 30%;
    height: 35px;
    border: 1px solid red;
    margin-left: 10px ;
    margin-bottom: 20px;
    padding-top: 20px;
    font-size: 20px;
}
.send {
    width: 155px;
    height: 32px;
    border-radius: 8%;
    border-right: 4px solid black;
    border-bottom: 4px solid black;
    background: orangered;
    margin-bottom: 25px;
    margin-left: 15px;
}